<!--- Making 2015-16 pages that would show all details and by entering matchday,teamname,score,date using ng-repeat to show all elements in our API-->
<div class="container col-lg-4">
<caption class="text-center">
<h3 class="trophy">
Filter By 
</h3>
</caption>
<table class="table table-responsive table-condensed">

<td>Date:</td><td><input type="text" id="name" name="getDate" placeholder="Enter Date" ng-model="getDate">
<span class="help-block">Enter as<em>YYYY-mm-dd</em></span></td>
<td>Teamname:</td><td><input type="text" id="name" name="getTeamname" placeholder="Enter Teamname" ng-model="getTeamname">
<span class="help-block">Eg: Enter as <em>Manchester United</em></span></td>
<td>Matchday:</td><td><input type="text" id="name" name="getMatchday" placeholder="Enter Matchday" ng-model="getMatchday"><span class="help-block">Eg: Enter as <em>Matchday 1</em></span></td>
<td>Score:</td><td><input type="text" id="name" name="getScore" placeholder="Enter Score" ng-model="getScore"></td>
</table>
</div>
<div class="container" ng-controller='firstController as firstCtrl'>
 <caption class="text-center">
<h3 class="trophy">
{{ firstCtrl.firstName }}
</h3>
</caption>
<table class="table table-responsive table-condensed">
 <thead>
      <tr>
        <th>Date</th>
        <th>Match Details</th>
        </tr>
    </thead>
    <tbody ng-repeat ="items in firstCtrl.data1| filter : getMatchday">
      <tr ng-repeat ="item in items.matches|filter : getDate | filter : getTeamname | filter : getScore">
        <td>{{item.date}}</td>
        <td><table><tr><td>{{items.name}}</td></tr>
		<tr><td>{{item.team1.name}} vs {{item.team2.name}}</td></tr>
		<tr><td>{{item.score1}} - {{item.score2}}</td></tr>
		<tr><td ng-if="item.score1 > item.score2"> {{item.team1.name}} Win By {{item.score1-item.score2}}</td></tr>
		<tr><td ng-if="item.score1 < item.score2"> {{item.team2.name}} Win By {{item.score2-item.score1}}</td></tr>
		<tr><td ng-if="item.score1 == item.score2">TIE</td></tr>
		</table></td>
		<td><table><tr><td><button type="button" class="btn btn-primary btn-md"><a ng-href="#/match/{{ item.team1.name }}/{{ item.team2.name }}/{{ item.date }}">SUMMARY</a></button></td>
      </tr>
	  </table>
	  </tr>
    </tbody>
  </table>
</div>