<div class="container">
<h1>{{secCtrl.day}}</h1>
            <div class=" col-lg-6" >
            <img ng-src = "images/{{ secCtrl.team1 }}.jpg" align="center" class="img-responsive logo-team">			    
            </div>
            <div class="col-lg-6">
            <img ng-src = "images/{{ secCtrl.team2 }}.jpg" align="center" class="img-responsive logo-team">
			</div>
			<div class="post-preview col-lg-6">
                Teamname :<p>{{secCtrl.team1}} </p>
				Code     :<p>{{secCtrl.code1}} </p>
                GOAL     :<p>{{secCtrl.score1}}</p>
                </div>
			<div class="post-preview col-lg-6">
                Teamname :<p>{{secCtrl.team2}}</p>
				Code     :<p>{{secCtrl.code2}} </p>
                GOAL    :<p>GOAL:{{secCtrl.score2}}</p>
                </div>
                
              <div class="col-lg-12">			
                <h1>{{secCtrl.winner}}</h1>
              </div>
                <ul class="pager" style="none">
                    <li class="next">
                        <a href="#/2015-16" align="center">Back to table &rarr;</a>
                    </li>
                </ul>
</div>
