<!-- Single detail of match-->
<div class="container" style="background-color: white">
<div class="row content">
<h1>{{secCtrl.day}}</h1>
            <div class="col-lg-10 text-left">
            <img ng-src = "images/{{ secCtrl.code1 | lowercase }}.png"   class="img-responsive logo-team">			    
            </div>
            <div class="col-lg-2-offset-1 text-left">
            <img ng-src = "images/{{ secCtrl.code2 | lowercase }}.png"   class="img-responsive logo-team">
			</div>
			<div class="post-preview col-lg-9 text-left">
               <p> Teamname :{{secCtrl.team1}} </p>
			   <p> Code     :{{secCtrl.code1}} </p>
               <p> GOAL     :{{secCtrl.score1}}</p>
             </div>
			<div class="post-preview  col-lg-3 text-left">
               <p> Teamname :{{secCtrl.team2}}</p>
			   <p> Code     :{{secCtrl.code2}} </p>
               <p> GOAL     :{{secCtrl.score2}}</p>
                </div>
                
              <div class="col-lg-12" aligh="center">			
                <h1>{{secCtrl.winner}}</h1>
              </div>
                <ul class="pager" style="none">
                    <li class="next">
                        <center><a href="#/2015-16">Back to table &rarr;</a></center>
                    </li>
                </ul>
<div class="row content">
</div>
